@charset "utf-8";
/* CSS Document */

      .cel{
	border-bottom: 0px solid #666;
border-right: 0px hidden;
		text-align: center;
	color:#333;
  padding: 0.4em;
	vertical-align: 4px; 
}

#frm_ab,tr:hover td{
	background-color: transparent;
}
#tbodyon, tr:hover td{
	background-color:#D0E3EF;
}