.table{
     font-family: Calibri; 
     font-size: 13px;  
     border-collapse: collapse;  
     color: #000;
     border-collapse: collapse;
	margin: 0;
	padding: 0;
}
.ui-dialog-content {
  font-size:20px;
  font-family: arial;   
}
.ui-dialog-content input:text {
    max-width: 320px;
    width: 150px;
}
.ui-button ui button {
    width: 100px;
    height: 100px
}