@charset "utf-8";
/* CSS Document */

#ob_ped{
	position:absolute;
	left: 38px;
	top: 176px;
	width:342px;
	height:55px;
}
#paneld{	
	border: 2px groove;
	}

.cel{
border-bottom: 0px solid #666;
border-right: 0px hidden;
}
#ped, tr:hover td{
	background-color: transparent;
}
#arreglo{
	position:absolute;
	width: 427px;
	left: 28px;
	top: 170px;
	height: 64px;	
}
#descrip{
	position:absolute;
	height: 40px;
	width: 352px;
	left: 240px;
	top: 125px;	
}
#observacion,#ob{
	position:absolute;
	height: 21px;
	width: 244px;
	font-size:12px;
}

#forma{
	top:200px;
}
.tab_container{
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 1000px;
	background: #fff;
	position:absolute;
	left: 2px;
	top: 40px;
	height: 2000px;
	-moz-border-radius:0px 0px 7px 7px;
	-webkit-border-radius:0px 0px 7px 7px;
}
#sv{
	top: 224px;
	left: 786px;
        width: 81px;
	height: 30px;
	
	position:absolute;
	
}
	
