@charset "utf-8";
/* CSS Document */

div.ui-datepicker{
    font-size:10px;
}
.ui-autocomplete{
    font-size:12px;
}
#container{
    position:absolute;
    left: 26px;
    top: 55px;
    width: 750px;
    height: 386px;

}
#letra{
    position:absolute;
    top: 30px;
    width: 139px;
    height: 68px;
    left: 637px;

}

#dato{
    position:absolute;
    width: 300px;
    height: 22px;
    left: 84px;
    top: 363px;
}
#prenda{
    width:150px;
}



#botones{
    position:absolute;
    left: 92px;
    top: 518px;
    width: 390px;
    height: 31px;
    border:1px groove #06F;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius:0px 0px 7px 7px;
}


#guardar{
    width: 80px; 
    height: 25px;
    color:#fff;
    margin-top: 10px;
    background-color: #18a5cc;
    border: none;
    position:static;
    left: 408px;
    top: 200px;
    -webkit-transition: -webkit-box-shadow 0.3s linear;
 
}
#guardar:hover, #limpiar:hover { 		
    -webkit-box-shadow: 0px 0px 20px #555;
    -moz-box-shadow: 0px 0px 20px #aaa; 
    box-shadow: 0px 0px 20px #555;		
    cursor:  pointer; 
}

#limpiar{
     width: 80px; 
    height: 25px;
    color:#fff;
    margin-top: 10px;
    background-color: #18a5cc;
    border: none;
    position:static;
    -webkit-transition: -webkit-box-shadow 0.3s linear;
    left: 510px;
    top: 200px;

}
#guardar2{
    width: 81px;
    height: 25px;
    
    position:absolute;
    left: 479px;
    top: 220px;
}

#limpiar2{
    position:absolute;
    width: 72px;
    height: 25px;
    
    left: 565px;
    top: 220px;
}
#guardar3{
    width: 81px;
    height: 25px;
    
    position:absolute;
    left: 391px;
    top: 215px;
}

#limpiar3{
    position:absolute;
    width: 72px;
    height: 25px;
    
    left: 480px;
    top: 215px;
}
#guardar4{
    width: 81px;
    height: 25px;
    
    position:absolute;
    left: 392px;
    top: 193px;
}

#limpiar4{
    position:absolute;
    width: 72px;
    height: 25px;
   
    left: 480px;
    top: 193px;
}
#guardar5{
    width: 81px;
    height: 25px;
   
    position:absolute;
    left: 407px;
    top: 204px;
}

#limpiar5{
    position:absolute;
    width: 72px;
    height: 25px;
   
    left: 497px;
    top: 204px;
}
#guardar6{
    width: 81px;
    height: 30px;
   
    position:absolute;
    left: 404px;
    top: 179px;
}

#limpiar6{
    position:absolute;
    width: 72px;
    height: 25px;
   
    left: 494px;
    top: 179px;
}
#guardar7{
    width: 81px;
    height: 25px;
   
    position:absolute;
    left: 418px;
    top: 179px;
}

#limpiar7{
    position:absolute;
    width: 72px;
    height: 25px;
    
    left: 509px;
    top: 179px;
}
#guardar8{
    width: 81px;
    height: 30px;
    
    position:absolute;
    left: 418px;
    top: 257px;
}

#limpiar8{
    position:absolute;
    width: 72px;
    height: 25px;
   
    left: 508px;
    top: 257px;
}
#guardar9{
    width: 81px;
    height: 25px;
    
    position:absolute;
    left: 404px;
    top: 257px;
}

#limpiar9{
    position:absolute;
    width: 72px;
    height: 25px;
    
    left: 493px;
    top: 257px;
}
#guardar0{
    width: 81px;
    height: 25px;
   
    position:absolute;
    left: 406px;
    top: 250px;
}

#limpiar0{
    position:absolute;
    width: 72px;
    height: 25px;
    
    left: 497px;
    top: 249px;
}
#guardar00{
    width: 81px;
    height: 25px;
   
    position:absolute;
    left: 402px;
    top: 169px;
}

#limpiar00{
    position:absolute;
    width: 72px;
    height: 25px;
    
    left: 490px;
    top: 169px;
}
#form1{
    position:absolute;
    left: 77px;
    top: 31px;
    height: 290px;

    width: 595px;


}

#form2{
    position:absolute;
    left: 70px;
    top: 22px;
    width: 601px;
    height: 60px;
}
#paneld{
    position:absolute;
    width: 717px;
    height: 339px;
    left: 42px;
    top: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
    border-radius: 10px;

    /* -- CSS3 - Gradiente de fondo -- */
    background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFF)); 
    background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE); 

    /* -- CSS3 - Sombras -- */
    -webkit-box-shadow:0px 0 50px #ccc;
    -moz-box-shadow:0px 0 50px #ccc; 
    box-shadow:0px 0 50px #ccc;


}

#panel2{
    position:absolute;
    left: 43px;
    top: 382px;
    width: 717px;
    height: 94px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border: 2px groove #06F;
}




#user{
    position:absolute;
    left: -53px;
    top: 7px;
    height: 38px;
    width: 47px;
}

.tab_container{
    border: 1px solid #999;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left;
    width: 820px;
    background: #fff;
    position:absolute;
    left: 52px;
    top: 76px;
    height:420px;

    -moz-border-radius:0px 7px 7px 7px;
    -webkit-border-radius:7px;

}


#tablas{
    position:absolute;
    width: 345px;
    left: 40px;
    top: 26px;
    height: 30px;
}

.tab_content {

    padding: 20px;

    font-size: 1.2em;

}


#ac{
    position:static;
    left: 400px;
    top: 5px;
}

#de{
    position:static;
    top: 5px;
    left: 400px;
}
#bu4{
    position:absolute;
    left: 165px;
    top: 89px;
}
#bu5{
    position:absolute;
    left: 359px;
    top: 89px;
}
#bu6{
    position:absolute;
    left: 555px;
    top: 92px;
}
#bu7{
    position:absolute;
    left: 164px;
    top: 144px;
}
#bu8{
    position:absolute;
    left: 359px;
    top: 143px;
}
#op{
    position:absolute;
    left: 588px;
    top: -18px;
    width: 213px;
    height: 22px;
}
#ob_reg{
    position:absolute;
    width: 244px;
    height: 53px;
    left: 4px;
    top: 248px;


}

.tab_container #resultado #paneld #form1 table tr td {
    color: #000;
}
#cm {
   left: 50px;
  }  
